extends layout

block content
    table.table.table-striped.table-hover.table-bordered
        thead
            tr
                th #
                th Ref ID
                th Mobile number
                th Amount
                th Priority
                th Date
        tbody
            each payment, i in payments
                tr
                    td #{index++}
                    td #{i}
                    td #{payment.mobileNo}
                    td #{payment.amount}
                    td #{payment.priority}
                    td #{payment.date}
